.circle {
    display: block;
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border: solid black 1px;
    border-radius: 50px;
}

body {
    background-color: lightcoral;
}