

.main {
    margin-top: 100px;
}

.google-img {
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: #e2dfe5;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
}

.card-container {
    display: flex;
    width: 400px;
    height: auto;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(51, 51, 124);
    border-bottom: 10px solid rgb(207, 80, 207);
}

.img-pic {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.card-info {
    margin-left: auto;
    margin-right: auto;
}